@charset "utf-8";

.fr_info{
     font-size: 12px;
    }

.fr_info_tit{
    background: #f1f1f1;
    border-top: 1px solid black;
    font-weight: bold;
}
.map_wrap{
    width: 700px;
    padding: 10px 20px 20px 10px;
    border-bottom: 2px solid #000;
    margin-bottom: 100px;
}
.map_wrap p span{
    font-weight: bold;
    line-height: 30px;
}