@charset "utf-8";


#visualslid_wrap{
  position: relative;
  min-width: 940px;
  overflow: hidden;
}
#visualslid{
	width: 100%;
}
#slide{
	position: relative;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
    height: 480px;
    overflow: hidden;
	}
	
.mySlides {
	display: none;
}

.slideshow-container {
	width: 100%;
	position: relative;
	margin: -10px;

}


/* The dots/bullets/indicators */
.dot_wrap{
    position: absolute;
    top: 435px;
    left: 50%;
	margin-left: -70px;
    z-index: 999;
}
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: #e1e1e0;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #a42228;
}


.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




.maincontent_01{
	position: relative;
}
.content_01_L{
	position: relative; 
	float: left; 
	width: 225px; 
	margin-right: 0;
}
.content_01_L>p{
	padding: 30px 0 0 20px; 
	background: #faf9f7;
}
.content_01_C_wrap{
	width: 460px; 
	margin: 0 auto;
}
.content_01_C{
	padding: 30px 0 0;
}
.content_01_C>p{
	font-weight: bold;
}
.content_01_C{
	position: relative; 
	float: left; 
	width: 460px;
}
.main_hollysmall_list li{
	float: left; 
	background: url(mall_bar01.gif) 0 no-repeat;
}
.main_hollysmall_list li:first-child{
	background: none;
}
.main_hollysmall_list li a p{
	width: 98px; 
	text-align: center; 
	margin: 0 auto;
}

.content_01_R{
	position: relative; 
	float: left;
}
.content_01_R>p{
	padding: 30px 0 0 20px; 
	background: #faf9f7;
}

.maincontent_02{
	position: relative; 
	display: block; 
	margin: 40px 0;
	height: 152px;
}
.maincontent_02 >div{
	position: relative; 
	display: block; 
	float: left; 
	height: 152px;
}
.maincontent_02 >div+div{
	position: relative; 
	display: block; 
	float: right; 
	height: 152px;
}

.maincontent_03{
	display: inline-block; 
	position: relative; 
	width: 100%; 
	margin: 0 auto;
}
.maincontent_03>div{
	float: left; 
	width: 207px; 
	margin-right: 30px;
}

.maincontent_03>div:last-child{
	float: right; 
	margin: 0;
}
.main_academy>a>p+p{
	background: url(ico_arrow.gif) 0 center no-repeat; 
	padding-left: 18px;
}
.main_btb>a>p+p{
	background: url(ico_arrow.gif) 0 center no-repeat; 
	padding-left: 18px;
}
.main_news>p>a{
	background: url(ico_arrow.gif) 63px 0 no-repeat; 
	padding: 5px 18px 0 0;
}
.main_news span{
	float: right;
}

.maincontent_03_04 li{
	float: left; 
	font-size: 11px; 
}
.maincontent_03_04 li img{
	background: url(mall_bar01.gif) right no-repeat; 
	padding: 10px 14px;
}
.maincontent_03_04 li:last-child img{
	background: none;
}
.maincontent_03_04 li p{
	text-align: center;
}


.hollys_live{
	display: block; 
	border-top: 2px solid #b5121b; 
	margin-top: 40px; 
	padding: 40px 0 0;
}
.hollys_live>p{
	display: inline-block;
}
.hollys_live>ul{
	display: inline;
}
.hollys_live>ul>li{
	display: inline;
}

